*{
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
    font-family: 'Roboto Slab', serif;
    margin: 0px;
    padding: 0px;

}

.container{
  width: 100%;
  margin: 0 auto;
}

p{
    font-family: 'Roboto', sans-serif !important;
    font-size: 18px;
    color:#626262;
    line-height: 1.6em;
}

li{
    list-style-type: none;
}

.burger-menu div{
    width: 35px;
    height: 5px;
    background-color: #2BAAEC;
    margin: 6px;
    border-radius: 3px;
}

 /* Top menu */
header .container{
    display: flex;
    justify-content: space-between;  
    align-items: center;
    color: #626262;
    font-size: 16px;
    padding: 17px 0;
}

.menu-top{
    border-color: #707070;
    border-width: 1px;
    border-bottom-style: solid;
}

.fa-clock{
    color: #2BAAEC;
    font-size: 20px;
    margin-left: 5px;
}

.socialmedia a{
    text-decoration: none;
}

.fa-twitter, .fa-google-plus-g, .fa-instagram{
    margin-left: 20px;
}

.fa-facebook-f, .fa-google-plus-g, .fa-instagram{
    color: #2BAAEC;
}

.fa-twitter{
    color: #25E6C8;
}
/*---------------------------------------*/

/* Main Menu */
.main-menu .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*--------Logo--------*/
.Logo{
    width: 250px;
    height: 100px;
}

.dential{
    float: left;    
    font-size: 24px;
    color: #363636;
    padding-top: 25px;
}

.clinic{
    font-size: 24px;
    color: #2BAAEC;
    padding-top: 25px;
}

.under-clinic{
    font-size: 16px;
    color: #626262;
}

.tooth{
    float: left;
}
/*---------------------*/

.menu-links{
    padding: 75px 0;
}

.menu-links a{
    text-decoration: none;
    font-size: 18px;
    color: #363636;
    margin-left: 32px;
    text-align: center;
}

.menu-links a:hover{
    text-decoration: underline;
}

/*----------------------------------------*/


/* showcase */
.showcase{
    padding-top: 20px;
    background-color: #DEDEDE;
}
.showcase .container{
    display: flex;
    justify-content: space-between;
}

.showcase-text{
    align-self: center;
    max-width: 690px;
}

.showcase-title{
    font-size: 60px;
    color: #363636;
    line-height: 1.1;
    padding-bottom: 25px;
}

.showcase-text p{
    padding-bottom: 40px;
}


.showcase-text button{
    text-decoration: none;
    border: none;
    border-radius: 10px;
    background-color: #25E6C8;
    font-family: 'Roboto', sans-serif !important;
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 20px 60px 20px 60px;
}

.showcase-text button:hover{

    background-color: #2BAAEC;
    cursor: pointer;
}
/*-------------------------------------------*/

/* About Us */
.about-us .container{
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

.grey-person2{
    margin-top: 40px;
}

.about-us-title{
    color: #363636;
    font-size: 40px;
    margin-top: 100px;
    max-width: 570px;
}
.-clinic{
    color: #2BAAEC;
}

.about-us-p{
    max-width: 690px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 25px;
    border-top-style: solid;
    border-width: 4px;
    border-color: #25E6C8;
}

.stats{
    display: flex;
}

.stat1, .stat2{
    margin-right: 90px;
}

.stats li{
    font-size: 40px;
    color: #2BAAEC;
}

.stats div{
   color: #363636;
   font-size: 18px;
}
/*----------------------------------------------*/


/* Services */
#services{
    background-color: #F7F7F7;
    padding: 140px 0;
}

.services-title{
    font-size: 40px;
    color: #363636;
    text-align: center;
    max-width: 460px;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-bottom: 70px;
    border-bottom-style: solid;
    border-width: 4px;
    border-color: #25E6C8;

}

.box{
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding-top: 70px;
    padding-bottom: 90px;
}

.box:hover{
    box-shadow: 0px 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}


h3{
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    font-weight: normal;
    color: #363636;
    margin-top: 40px;
}

.box p{
    max-width: 320px;
    margin: auto;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
}
/*---------------------------------------------------------*/

/* Appointment */
.appointment{
    background-color: #2BAAEC;
    opacity: 80%;
}


.make-appointment{
    color: #FFFFFF;
    font-size: 30px;
}

.book
{
    text-decoration: none;
    border-radius: 10px;
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif !important;
    font-size: 18px;
    color: #2BAAEC;
    font-weight: bold;
    text-align: center;
    padding: 18px 60px 18px 60px;
    border-width: 2px;
    border-color: #FFFFFF;
    border-style: solid;
}

.book:hover{
    color: #FFFFFF;
    background-color: #2BAAEC;
    cursor: pointer;
}

footer{
    background-color: #2BAAEC;
}



.footer-text{
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
    color: #F3FBFF;
    opacity: 60%;
    text-align: center;
    padding: 30px 0;
}








@media (min-width: 320px){
    .container {
        max-width: 315px;
    }
    .showcase-title{
        font-size: 50px;
    }
}

@media (min-width: 480px){
    .container {
        max-width: 460px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }

    .burger-menu{
        display: none;
    }
}

@media (min-width: 1024px) {
    .container{
        max-width: 980px;
    }
    #appointment .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
    }
}

@media (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }
}

@media (min-width: 1500px){
    .container{
        max-width: 1460px;
    }
}








@media (max-width: 479px){
    .grid{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media (max-width: 768px){
    .menu-top{
        display: none;
    }

    .menu-links{
        display: none;
    }
}

@media(max-width: 1023px){

    .grey-person, .grey-person2{
        display: none;
    }
  
    .showcase{
          padding-bottom: 30px;
    }
  
    .about-us{
          padding-bottom: 50px;
    }

    .showcase-text, .about-us div{
          margin: auto;
          text-align: center;
    }
    .about-us-title{
          padding-bottom: 20px;
    }
    .appointment .container{
        margin: auto;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .make-appointment{
        margin-bottom: 20px;
    }
}